.admin-login-wrapper::before {
  background-image: url(/images/bg_login_admin.jpg);
  filter: blur(2.5px);
}

.admin-login-box {
  max-width: 600px;
  margin: 0 auto;
  display: block;
  height: auto;
  min-height: 400px;
  overflow: hidden;
}

.admin-login-inner {
  padding: 40px;
  background: rgb(255, 255, 255, 0.6);
  border-radius: 10px;
}

.admin-login-logo {
  text-align: center;
  margin-bottom: 20px;
}

.admin-login-logo img {
  width: 150px;
}

.admin-login-title {
  color: #1c1f26;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
}

.admin-login-input-group {
  display: flex;
  align-items: center;
  background: rgb(245, 245, 245, 0.8);
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 15px;
  position: relative;
}

.admin-login-input-group i:first-child {
  color: #1c1f26;
  margin-right: 10px;
}

.admin-login-input-group input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  color: #333;
}

.admin-login-toggle-btn {
  background: none;
  border: none;
  position: absolute;
  right: 15px;
  cursor: pointer;
  color: #1c1f26;
}

.admin-login-submit-btn {
  margin-top: 20px;
  width: 100%;
  background: rgb(28, 31, 38, 0.8);
  color: white;
  border-radius: 5px;
}

.admin-login-submit-btn:hover{
  color: #ffffff;
  background: #1c1f26;
}

@media (max-width: 768px) {
  .admin-login-box {
    width: calc(100% - 45px);
  }
}