.navbar {
    background-color: #e6f3ff;
}

.navbar .main-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar .main-menu li {
    margin-left: 0px;
}

.navbar .main-menu li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-weight: 400;
}

.navbar .main-menu li a.active {
    color: #1a90ff;
    font-weight: 600;
    position: relative;
}

.navbar .main-menu li a.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    height: 2px;
    background-color: #1a90ff;
}

.navbar .main-menu li a:hover {
    background-color: #b8ddff;
    border-radius: 5px;
    color: #1a90ff;
}

.submenu ul {
    display: none;
    position: absolute;
    background-color: #e6f3ff;
    padding: 0;
    list-style-type: none;
}

.submenu:hover ul {
    display: block;
}

.submenu ul li {
    margin: 0;
}

.submenu ul li a {
    padding: 10px 15px;
}

.submenu ul li a:hover {
    background-color: #b8ddff;
}

.submenu.active > a {
    color: #1a90ff !important;
    font-weight: 600;
}

.submenu ul li a.active {
    background-color: #b8ddff;
    color: #1a90ff;
    font-weight: 600;
}

ion-icon {
    font-size: 20px;
    line-height: 1.5px;
    vertical-align: middle;
    /* Cân đối chữ */
}

.logo{
    margin-left: 20px; width: 200px; margin-right: 100px;
}