.navbar {
    background-color: #c19a6b;
}

.navbar .main-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar .main-menu li {
    margin-left: 0px;
}

.navbar .main-menu li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.navbar .main-menu li a:hover {
    background-color: #C4A484;
    border-radius: 5px;
}

.submenu ul {
    display: none;
    position: absolute;
    background-color: #c19a6b;
    padding: 0;
    list-style-type: none;
}

.submenu:hover ul {
    display: block;
}

.submenu ul li {
    margin: 0;
}

.submenu ul li a {
    padding: 10px 15px;
}

.submenu ul li a:hover {
    background-color: #C4A484;
}

ion-icon {
    font-size: 20px;
    line-height: 1.5px;
    vertical-align: middle;
    /* Cân đối chữ */
}
