.container_login{
    background-image: url(/images/bg_login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
        background-position: center;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.login_container{
    margin-top: 18vh;
    margin-bottom: 10vh;
}
.login_container .card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    background-color: rgb(255, 255, 255, 0.8) !important;
    transform: none !important;
}

.login_container .form-group i {
    color: rgb(70, 70, 70);
    font-size: 14px;
    margin-right: 10px;
}

.login_container .form-group {
    margin-top: 10px;
}

.login_container .subtittle {
    color: rgb(255, 0, 0);
}

.login_container .card-header {
    border-radius: 20px;
}
.login_container .card-header h3{
    margin: 0;
    color: rgb(0, 0, 0) !important;
    font-weight: 600
}
.login_container .btn-primary {
    background-color: rgba(70, 70, 70, 0.5);
    border-color: rgb(156, 156, 156);
    font-size: 20px;
    color: white;
    margin-top: 40px;
}

.login_container .btn-primary:hover {
    background-color: rgb(70, 70, 70);
    border-color: #004085;
}
.login_container label{
    color: black
}