.mySlides {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 80px auto;
}

img {
    vertical-align: middle;
}


/* Ẩn các hình ảnh theo mặc định */
.mySlides {
    display: none;
}

/* Style cho các nút "Previous" và "Next" */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    padding: 8px;
    margin-top: -22px;
    color: rgba(115, 107, 107, 0.781);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    text-align: center;
    line-height: 24px;
    text-decoration: none;
    background-color: #F0EBE3;
}

/* Vị trí nút "Previous" ở bên trái */
.prev {
    left: 0;
}

/* Vị trí nút "Next" ở bên phải */
.next {
    right: 0;
}


/* Hiệu ứng chuyển màu nút khi di chuột */
.prev:hover,
.next:hover {
    background-color: rgba(215, 215, 215, 0.9);
    text-decoration: none;
    color: #0F0844;
}


/* Style cho các nút chấm tròn */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: absolute;
    bottom: 10px;
}


/* Chấm tròn được chọn */
.dot_active,
.dot:hover {
    background-color: #717171;
}


/* Đặt vị trí của các chấm tròn */
.dot:nth-child(1) {
    left: calc(50% - 30px);
    /* Đặt vị trí ngang so với giữa container */
    bottom: 10px;
    /* Điều chỉnh vị trí dưới cùng */
}

.dot:nth-child(2) {
    left: 50%;
    /* Đặt vị trí ngang so với giữa container */
    bottom: 10px;
    /* Điều chỉnh vị trí dưới cùng */
}

.dot:nth-child(3) {
    left: calc(50% + 30px);
    /* Đặt vị trí ngang so với giữa container */
    bottom: 10px;
    /* Điều chỉnh vị trí dưới cùng */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer; /* Thêm con trỏ kiểu pointer */
    transition: color 0.3s ease; /* Thêm hiệu ứng chuyển màu mềm mại */
}

.close:hover,
.close:focus {
    color: #f44336; /* Đổi màu đỏ khi hover */
    text-decoration: none;
}

.modal-text{
    color: black;
}

.modal-text-notice, .modal-title{
    color: red;
}

.modal{
    margin: 100px 40px; 
    width: 95%;
}

.modal-content{
    background-color: rgb(255,255,255,0.8);
    padding: 20px;
}